---
---
<footer>
    <p>&copy; 2024 Lucas Roman - CEO de SaltaCoders</p>
  </footer>
  
  <style>
    footer {
      background: #1a202c;
      color: #fff;
      text-align: center;
      padding: 1rem 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  </style>
  