---
import Calendar from "./icons/Calendar.astro";
---

<ol class="border-l-2 dark:border-l border-gray-900/10 dark:border-zinc-300">
  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[26px] flex h-[50px] w-[50px] items-center justify-center rounded-full backdrop-blur bg-white/40 dark:bg-gray-900 dark:border dark:border-zinc-300 ring-2 ring-inset ring-gray-900/10 dark:ring-gray-900/5"
      >
        <Calendar class="text-amber-400 size-8" />
      </div>
      <div
        class="mb-10 ml-6 block max-w-lg p-4 shadow-md shadow-black/5 dark:shadow-black/10 rounded-xl bg-gray-900/5 dark:bg-gray-900 dark:border dark:border-zinc-300 ring-1 ring-inset ring-gray-900/10 dark:ring-gray-900/5"
      >
        <div class="mb-4 flex justify-between items-center flex-col md:flex-row">
          <p class="text-xl dark:text-gray-200">
            <span class="text-blue-600 dark:text-blue-500">CEO</span> - SALTACODERS
          </p>
          <p class="text-xs dark:text-gray-200">Noviembre 2022 - Actualidad</p>
        </div>
        <p class="mb-6 text-gray-600 dark:text-neutral-200 tracking-wide">
          Como <span class="text-amber-600 dark:text-amber-300 font-medium">CEO de SALTACODERS</span>, he liderado una start-up de programación formada por programadores freelance. Mis funciones incluyen la gestión de proyectos, coordinación del equipo, desarrollo de estrategias de negocio y aseguramiento de la calidad de los productos entregados.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[26px] flex h-[50px] w-[50px] items-center justify-center rounded-full backdrop-blur bg-white/40 dark:bg-gray-900 dark:border dark:border-zinc-300 ring-2 ring-inset ring-gray-900/10 dark:ring-gray-900/5"
      >
        <Calendar class="text-amber-400 size-8" />
      </div>
      <div
        class="mb-10 ml-6 block max-w-lg p-4 shadow-md shadow-black/5 dark:shadow-black/10 rounded-xl bg-gray-900/5 dark:bg-gray-900 dark:border dark:border-zinc-300 ring-1 ring-inset ring-gray-900/10 dark:ring-gray-900/5"
      >
        <div class="mb-4 flex justify-between items-center flex-col md:flex-row">
          <p class="text-xl dark:text-gray-200">
            <span class="text-blue-600 dark:text-blue-500">Programador Backend</span> - Moreno-Moreno (La Serenísima Salta)
          </p>
          <p class="text-xs dark:text-gray-200">Enero 2023 - Junio 2024</p>
        </div>
        <p class="mb-6 text-gray-600 dark:text-neutral-200 tracking-wide">
          Desarrollo de programas para la gestión de facturación interna, optimizando procesos y asegurando la eficiencia operativa.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[26px] flex h-[50px] w-[50px] items-center justify-center rounded-full backdrop-blur bg-white/40 dark:bg-gray-900 dark:border dark:border-zinc-300 ring-2 ring-inset ring-gray-900/10 dark:ring-gray-900/5"
      >
        <Calendar class="text-amber-400 size-8" />
      </div>
      <div
        class="mb-10 ml-6 block max-w-lg p-4 shadow-md shadow-black/5 dark:shadow-black/10 rounded-xl bg-gray-900/5 dark:bg-gray-900 dark:border dark:border-zinc-300 ring-1 ring-inset ring-gray-900/10 dark:ring-gray-900/5"
      >
        <div class="mb-4 flex justify-between items-center flex-col md:flex-row">
          <p class="text-xl dark:text-gray-200">
            <span class="text-blue-600 dark:text-blue-500">Programador</span> - Hotel Asturias Cafayate
          </p>
          <p class="text-xs dark:text-gray-200">Enero 2022 - Actualidad</p>
        </div>
        <p class="mb-6 text-gray-600 dark:text-neutral-200 tracking-wide">
          Desarrollo y mantenimiento de sitios web, bases de datos y formularios, asegurando una experiencia de usuario fluida y eficiente.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[26px] flex h-[50px] w-[50px] items-center justify-center rounded-full backdrop-blur bg-white/40 dark:bg-gray-900 dark:border dark:border-zinc-300 ring-2 ring-inset ring-gray-900/10 dark:ring-gray-900/5"
      >
        <Calendar class="text-amber-400 size-8" />
      </div>
      <div
        class="mb-10 ml-6 block max-w-lg p-4 shadow-md shadow-black/5 dark:shadow-black/10 rounded-xl bg-gray-900/5 dark:bg-gray-900 dark:border dark:border-zinc-300 ring-1 ring-inset ring-gray-900/10 dark:ring-gray-900/5"
      >
        <div class="mb-4 flex justify-between items-center flex-col md:flex-row">
          <p class="text-xl dark:text-gray-200">
            <span class="text-blue-600 dark:text-blue-500">Tutor Auxiliar</span> - 1000Programadores Salteños
          </p>
          <p class="text-xs dark:text-gray-200">Enero 2023 - Diciembre 2023</p>
        </div>
        <p class="mb-6 text-gray-600 dark:text-neutral-200 tracking-wide">
          Encargado de corrección y área práctica de la formación, asegurando la calidad educativa y apoyando a los estudiantes en su proceso de aprendizaje.
        </p>
      </div>
    </div>
  </li>
</ol>
